<div class="card w-96 bg-base-100 shadow-xl">
<figure><img src="{{movie.image}}" alt="Shoes"/></figure>

	<div class="card-body">
		<h2 class="card-title">{{movie.titre}}</h2>

			<p>{{movie.author}}</p>
			<p>{{movie.categorie}}</p>


		<div class="card-actions justify-end">
			<a href="{{path('app_show', {'id':movie.id})}}">
				<button class="btn btn-primary">voir plus</button>
			</a>

			
		</div>
	</div>
</div>

